/.idea/compiler.xml
/.idea/encodings.xml
/scripts/init-databases.sql
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/restaurant-platform.iml
/.idea/vcs.xml
services/auth-service/logs/app.log
services/gateway-service/logs/app.log
